.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray0011);
    
}
.modal-create-post {
    width: 800px;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 46px;
    background-color: var(--gray900);
    border-radius: 8px;
}
.div-title-modal, .modal-delete-title, .modal-post-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal-create-post-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div-post-input-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.div-post-input-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.div-buttons-modal {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.modal-delete {
    width: 800px;
    height: 302px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 46px;
    background-color: var(--gray900);
    border-radius: 8px;
}

.div-modal-delete-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.modal-post {
    width: 800px;
    /* height: 570px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px;
    gap: 46px;
    background-color: var(--gray900);
    border-radius: 8px;
}
.post-Info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.post-Info > figure {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
}
.post-Info > figure > img {
    width: 100%;
}
.bar {
    color: var(--gray600);
}