.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 111px;
}
.section-title {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-signup-form {
    width: 369px;
    height: 672px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 44px 24px;
    gap: 26px;
    background-color: var(--gray900);
    border: 1px solid var(--gray5005);
    border-radius: 4px;
}
.div-signup-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.div-user, .div-email, .div-photo, .div-password {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pet-photos {
    width: 87px;
    height: 209px;
    display: flex;
    gap: 18px;
}

.div-photos {
    width: 87px;
    height: 92px;
    display: flex;
    gap: 18px;
}

.div-album-photos {
    width: 192px;
    height: 92px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.load {
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}